{% extends 'base.html' %}
{% block content %}
    
<div class="welcome-section">
    <h1>Welcome to artENG</h1>
</div>

<div class="main-section">
    <h2>Welcome to "artENG" - Where Creativity Meets Engineering Excellence!</h2>

    <p>
        Embark on a groundbreaking journey with our cutting-edge web application designed exclusively for the dynamic collaboration between engineering and art students. Born in the heart of California's innovation hub, "artENG" is not just a platform; it's a revolution in the way students connect, create, and collaborate.
    </p>

    <div class="feature-section">
        <div class="feature">
            <div class="feature-icon">🚀</div>
            <h3>Unleash Your Creativity</h3>
            <p>Calling all engineering students with a vision! Post your projects and watch as talented art students design intuitive interfaces and marketing material for your beloved projects. Whether it's graphic design, illustration, or multimedia art - "artENG" is your canvas to turn imagination into reality.</p>
        </div>

        <div class="feature">
            <div class="feature-icon">🎨</div>
            <h3>Engineer the Extraordinary</h3>
            <p>Art students, showcase your artistic prowess! Post projects that require the technical brilliance of engineering students. From software development to hardware innovation, find the perfect collaborator to transform your artistic concepts into functional masterpieces.</p>
        </div>

        <div class="feature">
            <div class="feature-icon">💡</div>
            <h3>Seamless Collaboration</h3>
            <p>Experience a seamless and intuitive platform that bridges the gap between the worlds of art and engineering. Our user-friendly interface ensures effortless navigation, making it easier than ever to connect, communicate, and create together.</p>
        </div>
    </div>

    <div class="feature-section">
        <div class="feature">
            <div class="feature-icon">💸</div>
            <h3>Secure Payments, Trustworthy Transactions</h3>
            <p>"artENG" takes your security seriously. Enjoy peace of mind with our reliable and secure payment system, ensuring fair compensation for your creative endeavors. Trust is the foundation of collaboration, and we've got you covered.</p>
        </div>
    </div>
</div>

{% endblock content %}
