{% extends "base.html" %}
{% block content %}
{% if request.user.is_anonymous %}
    <h2>You need to be logged in to view jobs</h2>
{% else %}
    {% if job.assigned_to == student or job.poster == student %}
        <h3>Job info:</h3>
        <p>Job name: {{job.name}}</p>
        <p>Poster: {{poster.get_full_name}}</p>
        <p>Job type: {{job.job_type}}</p>
        <p>Compesation: {{job.compensation}} €</p>
        <h3>Deadlines:</h3>
        <p>Applications until: {{job.assign_deadline}}</p>
        <p>Has to be completed until: {{job.completion_deadline}}</p>
        <h3>Description:</h3>
        <p>{{job.description}}</p>
    {% elif job.assigned_to is not None %}
        <h2>Sorry this job is taken!</h2>
    {% else %}
        <h2>This job is still avalible</h2>
        <h3>Job info:</h3>
        <p>Job name: {{job.name}}</p>
        <p>Poster: {{poster.get_full_name}}</p>
        <p>Job type: {{job.job_type}}</p>
        <p>Compesation: {{job.compensation}} €</p>
        <h3>Deadlines:</h3>
        <p>Applications until: {{job.assign_deadline}}</p>
        <p>Has to be completed until: {{job.completion_deadline}}</p>
        <h3>Description:</h3>
        <p>{{job.description}}</p>
    {% endif %}
{% endif %}
{% endblock %}