{% extends "base.html" %}
{% block content %}
{% if request.user.is_anonymous %}
    <h2>You need to be logged in to view jobs</h2>
{% else %}
    {% if job.assigned_to == student or job.poster == student or student.is_staff and job.assigned_to is not None %}
        <h3>Job info:</h3>
        <p>Job name: {{job.name}}</p>
        <p>Poster: <a href="{% url 'jobs:profile' poster.user_name %}">{{poster.get_full_name}}</a></p>
        <p>Job type: {{job.job_type}}</p>
        <p>Compesation: {{job.compensation}} €</p>
        <h3>Deadlines:</h3>
        <p>Has to be completed until: {{job.completion_deadline}}</p>
        <h3>Description:</h3>
        <p>{{job.description}}</p>
        {% if job.assigned_to is not None %}
            {% if job.is_completed %}
                <h3>
                    This job has been completed by:
                    <a href="{% url 'jobs:profile' job.assigned_to.user_name %}">{{job.assigned_to.get_full_name}}</a>
                </h3>
                <p>View the completed job <a href="{{job.finished_link}}">here</a></p>
                {% if is_disputed %}
                    <h3>This job is under dispute</h3>
                    {% if student.is_staff %}
                        {% if dispute.eng_approved and student.student_type == "engineering" %}
                            <h3>You cannot edit this dispute</h3>
                        {% elif dispute.art_approved and student.student_type == "art" %}
                            <h3>You cannot edit this dispute</h3>
                        {% elif dispute.art_approved and student.student_type == "engineering" %}
                            <h3>Art staff member has sided with {{dispute.chosen_side}}</h3>
                            <p>Do you agree with the staff member?</p>
                            <button id="yesDispute">Yes</button>
                            <button id="noDispute">No</button>
                        {% elif dispute.eng_approved and student.student_type == "art" %}
                            <h3>Engineering staff member has sided with {{dispute.chosen_side}}</h3>
                            <p>Do you agree with the staff member?</p>
                            <button id="yesDispute">Yes</button>
                            <button id="noDispute">No</button>
                        {% elif not dispute.eng_approved and not dispute_art_approved %}
                            <button id="sidePosterButton">Side with poster</button>
                            <button id="sideWorkerButton">Side with worker</button>
                        {% endif %}
                    {% endif %}
                {% elif job.poster == student %}
                    {% if not job.was_disputed %}
                        <button id="disputeButton">Dispute</button>
                    {% else %}
                        <p>The dispute for this job has already been resolved</p>
                    {% endif %}
                {% endif %}
            {% else %}
                <h3>
                    This job has been assigned to 
                    <a href="{% url 'jobs:profile' job.assigned_to.user_name %}">{{job.assigned_to.get_full_name}}</a>
                </h3>
                {% if job.assigned_to == student %}
                    <label for="jobFinishedLink">Enter Finished Job Link:</label>
                    <input type="text" id="jobFinishedLink" name="jobFinishedLink" required>
                    <button id="finishButton">Mark job as completed</button>
                {% endif %}
            {% endif %}
        {% elif number_of_applications == 0 %}
            <h3>There are no applications, yet.</h3>
        {% elif job.poster == student %}
            <h3>Applications: </h3>
            {% for application in applications %}
                <div>
                    <p>Applicant: <a href="{% url 'jobs:profile' application.applicant.user_name %}">{{ application.applicant.get_full_name }}</a></p>
                    <p>Applied at: {{ application.applied_at }}</p>
                    <button id="acceptApplicationButton" data-application-id="{{ application.application_id }}">Accept</button>
                </div>
            {% endfor %}
        {% endif %}
    {% elif job.assigned_to is not None %}
        <h2>Sorry this job is taken!</h2>
    {% else %}
        <h2>This job is still available</h2>
        <h3>Job info:</h3>
        <p>Job name: {{job.name}}</p>
        <p>Poster: <a href="{% url 'jobs:profile' poster.user_name %}">{{poster.get_full_name}}</a></p>
        <p>Job type: {{job.job_type}}</p>
        <p>Compesation: {{job.compensation}} €</p>
        <p>Number of applications: {{ number_of_applications }}</p>
        <h3>Deadlines:</h3>
        <p>Applications until: {{job.assign_deadline}}</p>
        <p>Has to be completed until: {{job.completion_deadline}}</p>
        <h3>Description:</h3>
        <p>{{job.description}}</p>
        {% if user_has_applied %}
            <h3>You already applied for this job</h3>
        {% else %}
            {% if can_apply %}
                <button id="applyButton">Apply for the job!</button>
            {% else %}
                <h3>You cannot apply for this job</h3>
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}


<script>
    document.getElementById("applyButton").addEventListener("click", function() {
        document.getElementById("applyButton").style.display = 'none';

        fetch("{% url 'jobs:apply_for_job' job.job_id %}", {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                document.getElementById("success_application").style.display = 'block';
                document.getElementById("success_application_text").innerHTML = data.message;
            } else {
                document.getElementById("failure_application").style.display = 'block';
                document.getElementById("failure_application_text").innerHTML = data.message;
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>
<script>
    document.getElementById("disputeButton").addEventListener("click", function() {

        fetch("{% url 'jobs:dispute' job.job_id %}", {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(() => {
            location.reload();
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>
<script>
    document.getElementById("finishButton").addEventListener("click", function() {
        const jobFinishedLink = document.getElementById("jobFinishedLink").value;
        if (jobFinishedLink.trim() === "") {
            alert("Please enter a finished job link.");
            return;
        }
        fetch("{% url 'jobs:mark_job_completed' job.job_id %}", {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/x-www-form-urlencoded',  
            },
            body: new URLSearchParams({ jobFinishedLink: jobFinishedLink }),  
        })
        .then(() => {
            location.reload();
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>
<script>
    document.getElementById("acceptApplicationButton").addEventListener("click", function() {
        const applicationId = this.dataset.applicationId;
        fetch(`{% url 'jobs:accept_job_application' application_id=0 %}`.replace('0', applicationId), {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json',
            },
        })
        .then(() => {
            location.reload();
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>
<script>
    document.getElementById("sidePosterButton").addEventListener("click", function() {
        updateDispute('poster');
    });

    document.getElementById("sideWorkerButton").addEventListener("click", function() {
        updateDispute('worker');
    });

    function updateDispute(chosenSide) {
        fetch(`{% url 'jobs:update_dispute' job.job_id %}`, {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: new URLSearchParams({ chosen_side: chosenSide, approved_by: `{{ student.student_type }}`}),
        })
        .then(response => response.json())
        .then(() => {
            location.reload();
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>
<script>
    document.getElementById("yesDispute").addEventListener("click", function() {
        finishDispute('yes');
    });

    document.getElementById("noDispute").addEventListener("click", function() {
        finishDispute('no');
    });

    function finishDispute(Answer) {
        fetch(`{% url 'jobs:finish_dispute' job.job_id %}`, {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: new URLSearchParams({ answer: Answer, approved_by: `{{ student.student_type }}`}),
        })
        .then(response => response.json())
        .then(() => {
            location.reload();
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>

<div id="success_application" style="display: none;"><h2 id="success_application_text"></h2></div>
<div id="failure_application" style="display: none;"><h2 id="failure_application_text"_text></h2></div>

{% endblock %}