{% extends "base.html" %}

{% block content %}
<h3>User information:</h3>
<p>Username: {{student.user_name}}</p>
<p>Name: {{student.first_name}} {{student.last_name}}</p>
<p>Studies: {{user.student_type}}</p>
<p>Institution: {{student.institution}}</p>

<h3>Activity information:</h3>
<p>Date joined: {{student.date_joined}}</p>
<p>Last active: {{student.last_login}}</p>

<h3>Moderation information:</h3>
<p>Is a staff member: {{student.is_staff}}</p>
<p>Is a platform admin: {{student.is_superuser}}</p>
{% endblock %}